<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>  <!--开启二级缓存-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>  <!--看数据库的运作 -->
    </settings>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"></property>
                <property name="url" value="jdbc:mysql://localhost:3306/rsd_website"></property>
                <property name="username" value="root"></property>
                <property name="password" value="123456"></property>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mappers/sysRole.mapper.xml"/>
        <mapper resource="mappers/diary.mapper.xml"/>
        <mapper resource="mappers/education.mapper.xml"/>
        <mapper resource="mappers/newsInfo.mapper.xml"/>
        <mapper resource="mappers/newsType.mapper.xml"/>

    </mappers>
</configuration>